* {
  margin: 0px;
  padding: 0px;
}
.App {
  min-height: 800px;
  height: auto;
  min-width: 100vw;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.leaflet-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.Toastify {
  z-index: 99009999;
}
